/* Used for the allbets page */

.container {
  flex: 4;
}

/* Used for the 'Recent Bets Component' */
.containerHome {
  flex: 4;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.25rem;
  padding: 1.25rem;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
  background: #fff;
  overflow-y: auto;
  max-height: 80vh;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search {
  color: rgba(85, 85, 85, 0.75);
  border-color: rgb(85, 85, 85, 0.15);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  width: 35rem;
  text-align: center;
}

.search:focus {
  outline: none;
}

.tableTitle {
  color: rgba(85, 85, 85, 0.75);
  font-weight: 600;
  font-size: 1.5rem;
}

.tableTitleSm {
  color: rgb(85, 85, 85, 0.85);
  font-weight: 400;
  font-size: 1.2rem;
}

.allBetsLink {
  color: rgba(47, 42, 98, 0.5);
  cursor: pointer;
  transition: all 0.4s ease;
}

.allBetsLink:hover {
  color: rgba(47, 42, 98);
}

.allBetsTable {
  border-spacing: 0.625rem;
}

.allBetsRowHeader {
  font-weight: 500;
  color: rgb(85, 85, 85, 0.85);
}

.allBetsTh {
  text-align: center;
}

.allBetsTr {
  color: rgb(85, 85, 85, 0.75);
}

/* *********
Styling the Results pill 
 **********
*/

.outcome {
  padding: 0.125rem;
  border: none;
  border-radius: 1.25rem;
  text-align: center;
}

.lose {
  color: #d95087;
  background: #fff0f1;
}

.win {
  color: #3bb077;
  background: #e5faf2;
}

.push {
  color: #2a7ade;
  background: #e5faf2;
}

/* UTILITIES */

.displayRight {
  text-align: right;
}

.displayLeft {
  text-align: left;
}

.displayCenter {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}

.csvDL {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #555;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.icon {
  color: rgba(47, 42, 98, 0.75);
  margin-left: 0.25rem;
}

.iconDel {
  /* color: rgb(226, 73, 73); */
  cursor: pointer;
}

.iconEdit {
  color: rgb(54, 102, 236);
  cursor: pointer;
}

.topContainer {
  display: flex;
  margin: 1rem 1.25rem;
  justify-content: space-between;
  color: #555;
  align-items: center;
}

.totalProfitNum {
  margin-left: 1rem;
}

/* ADD / EDIT BETS FORM STYLING BELOW */

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.25rem;
  padding: 1.25rem;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
  background: #fff;
}

.form label {
  display: block;
  font-size: 0.8rem;
  color: #555;
}

.form input {
  color: rgba(85, 85, 85, 0.75);
  border-color: rgb(85, 85, 85, 0.15);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.form select {
  color: rgba(85, 85, 85, 0.75);
  background: #fff;
  border-color: rgb(85, 85, 85, 0.15);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.form input:focus,
.form select:focus {
  outline: none;
}

.form input[type='submit'] {
  /* width: calc(1rem + 200%); */
  background-image: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form input[type='submit']:hover {
  transform: scale(1.02);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 0.5rem;
  /* width: 100%; */
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.btn {
  border: 2px solid rgb(54, 102, 236);
  border-radius: 0.25rem;
  padding: 0.35rem 0.5rem;
  background: rgb(54, 102, 236);
  color: #fff;
  margin: 0 0.25rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  border: 2px solid rgb(54, 102, 236);
  background: #fff;
  color: rgb(54, 102, 236);
}

.closeFormContainer {
  display: flex;
  justify-content: flex-end;
}

.closeForm {
  display: flex;
  align-items: center;
  color: #555;
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.addEditContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.25rem;
}
