.container {
  flex: 4;
  background: rgba(237, 237, 237, 0.75);
}

.greeting {
  color: rgba(85, 85, 85, 0.75);
  font-weight: 400;
  margin: 1rem 1.25rem;
  font-size: 2rem;
}

.userName {
  font-weight: bold;
}

.widgetContainer {
  display: flex;
}
