.tableContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.25rem;
  padding: 1.25rem;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
  background: #fff;
}

.tableTitle {
  color: rgba(85, 85, 85, 0.75);
  font-weight: 600;
  /* margin: 1rem 1.25rem 0; */
  font-size: 1.5rem;
}

.allBetsTable {
  width: 100%;
  border-spacing: 0.625rem;
}

.allBetsRowHeader {
  font-weight: 500;
  color: rgb(85, 85, 85, 0.85);
}

.allBetsTh {
  text-align: center;
}

.allBetsTr {
  color: rgb(85, 85, 85, 0.75);
}

/* *********
  Styling the Results pill 
   **********
  */

.outcome {
  border-radius: 1.25rem;
  text-align: center;
}

/* UTILITIES */

.displayRight {
  text-align: right;
}

.displayLeft {
  text-align: left;
}

.displayCenter {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}

.iconDel {
  color: rgb(226, 73, 73);
  cursor: pointer;
}

.iconEdit {
  color: rgb(54, 102, 236);
  cursor: pointer;
}
