.sidebar {
  box-sizing: border-box;
  position: sticky;
  max-width: fit-content;
  background-image: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
  top: 80px;
  min-height: 100vh;
}

.sidebarWrapper {
  padding: 1.25rem;
  flex: 1;
  z-index: 500;
}

.logo {
  width: 265px;
  object-fit: contain;
  margin: 0 0 5.5rem;
  transform: translateX(-12px);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 0.8rem;
  color: rgb(44, 204, 102);
}

.sidebarList {
  list-style: none;
  padding: 5px 0;
}

.sidebarMenu::after {
  content: '';
  display: flex;
  padding-bottom: 0.2rem;
  border-top: 2px solid rgba(85, 85, 85, 0.5);
}

.sidebarMenu:first-of-type::before {
  content: '';
  display: flex;
  border-top: 2px solid rgba(85, 85, 85, 0.5);
  margin-bottom: 0.8rem;
}

.sidebarListItem {
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  transition: all 0.4s ease;
  color: #fff;

  /* color: rgb(255, 255, 255, 0.5); */
}

.icon {
  margin-right: 1rem;
}

.sidebarListItem:hover {
  transform: scale(1.05);
}

.sidebarListItem:hover,
.active {
  background: rgb(44, 204, 102, 0.2);
}
